services:
  web:
    container_name: os_backend
    build: 
      context: ../backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
      - "8001:8001"
    volumes:
      - ../backend:/app
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:14
    container_name: os_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
      container_name: os_frontend
      build:
        context: ../frontend
        dockerfile: Dockerfile
      ports:
        - "5173:5173"
      volumes:
        - ../frontend:/app
        - /app/node_modules
      environment:
        - VITE_API_URL=http://localhost:8000/api/
      depends_on:
        - web


volumes:
  postgres_data: